.carrito {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.carrito-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #FF90BC;
  text-align: center;
}

.carrito-empty {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 0.5rem;
}

.carrito-list {
  list-style: none;
  padding: 0;
  margin: 0 auto 20px;
  max-width: 700px;
}

.carrito-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5eded;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.item-nombre {
  
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 5px;
  color: #333;
}

.cantidad {
  font-size: 1rem;
  color: #666;
}

.item-img {
  width: 40px;
  height: 40px;
  object-fit: cover; 
  border-radius: 8px; 
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.item-precio-container {
  justify-content: right;
  align-items: right;
  gap: 10px;
}

.item-precio {
  font-weight: bold;
  color: #ff4d6d;
}

.btn-remove {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn-remove:hover {
  transform: scale(1.2);
}

.carrito-footer {
  margin-top: 20px;
}

.carrito-total {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.btn-clear {
  display: block;
  margin: 0 auto;
  background: #ff4d6d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-clear:hover {
  background: #e03c5d;
}

/* CHECKOUT FORM */
.checkout-form {
  margin-top: 30px;
  padding: 20px;
  background: #f5eded;
  border-radius: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.checkout-form h3 {
  margin-bottom: 15px;
  color: #333;
}

.checkout-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease;
}

.checkout-form input:focus {
  border-color: #FF90BC;
}

.btn-buy {
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #ff4d6d;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-buy:hover {
  background: #bb326d;
}

/* COMPRA FINALIZADA*/
.carrito-order-id {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #FF90BC;
}
.carrito-order-id strong {
  font-weight: bold;
  color: #000000;
}



/* RESPONSIVE */
@media (max-width: 768px) {
  .carrito-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .item-img {
    width: 50px;   
    height: 50px;
    margin-top: 10px;
  }

  .item-precio-container {
    align-items: right;
    justify-content: right;
    width: 100%;
  }

  .checkout-form {
    width: 100%;
    padding: 15px;
  }
}