.checkout {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.checkout-products {
  margin-bottom: 40px;
}

.checkout-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-form input,
.checkout-form textarea {
  padding: 10px;
}

.checkout-form button {
  padding: 12px;
  cursor: pointer;
}