.products-grid {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  display: grid;
<<<<<<< HEAD
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

  gap: 40px;
  padding: 40px 20px;
}

/* tablet */
@media (max-width: 900px) {
  .products-grid {
    gap: 30px;
  }
}

/* celular */
@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px 15px;
  }
}

/* celular chico */
@media (max-width: 420px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
=======
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 18px;
  padding: 18px;
  background-color: #E1ECC8;
>>>>>>> 1d41361186b3b67662fda3e163815ae28950ff3f
}