
#root {
  max-width: 100px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  height: 70px;
}

footer {
  height: 60px; 
}

.main-content {
  flex: 1;
  padding-top: 70px;
  padding-bottom: 60px;
  box-sizing: border-box;
  background-color: #f5eded;
}