<<<<<<< HEAD
#root {
  max-width: 100px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
=======
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
>>>>>>> 1d41361186b3b67662fda3e163815ae28950ff3f
}

header {
  height: 70px;
}

footer {
  height: 60px; 
}

.main-content {
  flex: 1;
  padding-top: 70px;
  padding-bottom: 60px;
  box-sizing: border-box;
  background-color: #f5eded;
}