.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #F8F5F2;
}

.login-form {
  background: #D8CFC3;
  padding: 3rem;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-form h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: #1E1E1E;
  letter-spacing: 2px;
}

.login-form input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #E8DED2;
  font-family: "Montserrat", sans-serif;
}

.login-form input:focus {
  outline: 1px solid #B89B72;
}

.login-form button {
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #1E1E1E;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-form button:hover {
  background: #B89B72;
}